*{
  margin:0;
  padding:0;
}
body{
  background-color: #dbf4ff;
  background-size:cover;
}
/* START OF HEADER STYLE */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
  background-color: rgba(255, 255, 255, .95);
  margin-bottom: 50px;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #0093FF;
  margin: 0;
}
header a {
  text-decoration: none;
  color: var(--primary-color);
}
header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 25px;
  color:#0093FF;
  text-shadow: none;
  
}
header nav ul li a:hover {
  text-shadow: 0 0 10px rgba(100, 232, 255, 0.5);
}


/* END OF HEADER STYLE */


h1{
  font-size: 60px;
  color:#0093FF;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 50px;
}

.about-me{
  width: 90%;
  margin: 50px auto;
}
.me{
  display: flex;
}
.me img{
  border-radius: 10px;
}
.me p{
margin: auto 20px;
  font-size: 25px;
  justify-content: left;
}

.work{
  width:90%;
  margin: 150px auto;
}

.runbuddy{
  display: flex;
}
.preview{
  width: 65%;
  margin-right: 20px;
}
.work-text{
  width: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.work-text h2{
  margin:0;
  display: inline;
  font-size: 40px;
}
.preview a img{
  display: block;
  width: 100%;
justify-content: center;
border-radius: 20px;
margin-bottom: 20px;
box-shadow: 0 0 2px black;
}

.run{
color:#024e76;
}
.buddy{
color: #fce138;
}

.horiseon{
  display: flex;
}
.preview2{
  width: 50%;
  margin-right: 20px;
}
.preview2 a img{
  display: block;
  width: 100%;
justify-content: center;
border-radius: 20px;
margin-bottom: 20px;
box-shadow: 0 0 2px black;
}
.work-text2{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.hori1{
color:#2a607c;
}
.hori2{
color: #d9dcd6;
}

.connect{
  width: 90%;
  margin: 0 auto 100px auto;
}

.connect a{
  text-decoration: none;
}


/* MEDIA QUERIES */
@media screen and (max-width: 980px) {
  h1{
    font-size: 40px;
  }
  header{

  }
  .about-me, .work, .connect{
    margin: 0 auto;
    width:90%;
  }
  .about-me p{
    font-size: 20px;
  }
.me img{
  width:20%;
}
}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 575px) {
  h1{
    font-size:25px;
  }
.about-me p{
  font-size:15px;
}

.work-text p, .work-text2 p{
  font-size: 15px;
}

.work-text h2, .work-text2 h2{
  font-size:20px;
}

.connect h2, .connect h3{
  font-size: 15px;
}
}

@media screen and (max-width:375px) {
  .me{
   flex-direction: column;
  }
.me img{
  margin: 0 auto;
}
}